In [1]:
#Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Numpy arrays
my_array = np.array(1, 2, 3, 4, 5)

TypeError: array() takes from 1 to 2 positional arguments but 5 were given

In [3]:
#Method call
my_array = np.array([1, 2, 3, 4, 5])

my_array.sum

In [4]:
#Pandas series
my_series = pd.Series([1, 2, 3, 4, 5])

for number in my_series:
    my_series = number * 2
    
my_series

10

In [5]:
#Working with strings
my_series = pd.Series(['MY', 'LIST', 'OF', 'WORDS'])

my_series = my_series.lower()

my_series

AttributeError: 'Series' object has no attribute 'lower'

In [6]:
#Dataframes
my_df = pd.DataFrame({'people': ['Mike', 'Bob', 'George', 'Greg', 'Bill', 'Steve', 'Mike', 'Tim', 'George', 'Harry'],
                      'height': [72, 65, 75, 67, 67, 70, 62, 65, 70, 73],
                      'sport': ['Baseball', 'Football', 'Baseball', 'Basketball', 'Soccer', 'Soccer', 'Football', 'Hockey', 'Basketball', 'Baseball']})

In [7]:
#Value counts
my_df.value_counts()

people  height  sport
Bill    67      Soccer        1
Bob     65      Football      1
George  70      Basketball    1
        75      Baseball      1
Greg    67      Basketball    1
Harry   73      Baseball      1
Mike    62      Football      1
        72      Baseball      1
Steve   70      Soccer        1
Tim     65      Hockey        1
dtype: int64

In [8]:
#Accessing fewer columns
my_df['people', 'height']

KeyError: ('people', 'height')

In [9]:
#Dropping columns
my_df.drop(columns=['sport'])

my_df

   people  height       sport
0    Mike      72    Baseball
1     Bob      65    Football
2  George      75    Baseball
3    Greg      67  Basketball
4    Bill      67      Soccer
5   Steve      70      Soccer
6    Mike      62    Football
7     Tim      65      Hockey
8  George      70  Basketball
9   Harry      73    Baseball

In [10]:
#Sorting values
my_df.sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'

In [11]:
#Boolean mask
my_df[my_df < 70]

TypeError: '<' not supported between instances of 'str' and 'int'

In [12]:
#Groupby
my_df.groupby('sport')